<div class="panel panel-default">
  <div class="panel-heading">Forgot your password?</div>
  <div class="panel-body">
    <div class="form-group"></div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="actions form-group">
          <%= f.submit "Send me reset password instructions", class: 'btn btn-warning' %>
        </div>
      <% end %>
  </div>
  <div class="panel-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>
