<%= form_with(model: cryptostable, local: true) do |form| %>
  <% if cryptostable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cryptostable.errors.count, "error") %> prohibited this cryptostable from being saved:</h2>

      <ul>
      <% cryptostable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :symbol %>
    <%= form.text_field :symbol %>
  </div>

  <div class="field">
    <%= form.number_field :user_id, value: current_user.id, type: 'hidden' %>
  </div>

  <div class="field">
    <%= form.label :cost_per %>
    <%= form.text_field :cost_per %>
  </div>

  <div class="field">
    <%= form.label :amount_owned %>
    <%= form.text_field :amount_owned %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
