<p id="notice"><%= notice %></p>

<h1>Cryptos</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Cost per</th>
      <th>Amount owned</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cryptostables.each do |cryptostable| %>
      <% if cryptostable.user_id == current_user.id %>
      <tr>
        <% for x in @lookup_cryptos["data"] %>
          <% if cryptostable.symbol.upcase == x["symbol"]%>
            <td><%= link_to x["name"], cryptostable %></td>
          <%end%>
        <%end%>
        <td><%= cryptostable.symbol %></td>
        <td><%= cryptostable.cost_per %></td>
        <td><%= cryptostable.amount_owned %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crypto', new_cryptostable_path, class: 'btn btn-default' %>
